@import url("https://fonts.googleapis.com/css?family=Gothic A1");
@import url("https://fonts.googleapis.com/css?family=Inder");
@import url(https://fonts.googleapis.com/css?family=Roboto");

body{
	background-color: #263238;
	font-style: inherit;
	font-family: 'Gothic A1';
	color: white;
}
/*Hide the scrollbar but keep content scrollable*/
::-webkit-scrollbar {
display: none;
}
#left {
	background-color: #263238;
}

#middle {
	background-color: #263238;
}

#right {
	background-color: #263238;
}
.sharing {
	margin: auto;
	border: 1px solid #b3b6bc;
	margin-top: 10px;
	padding: 20px;
	width: 80%;
	background: white;
}
.inner {
	background: #37474F;	
}
.inner-left{
	background: #37474F;
	width: 45%;
	height: 24%;
	padding-left: 17px;
	margin-left: 45%;
	margin-top: 2%;
}
.inner-right {
	background: #37474F;
	width: 45%;
	height: 24%;
	padding-left: 17px;
	margin-left: 7%;
	margin-top: 2%;
}
.send-item-right {
	background: #37474F;
	width: 45%;
	height: 10%;
	padding-left: 17px;
	margin-left: 7%;
	margin-top: 2%;
}

/*style links inside the friends list-item*/
.inner-right a:link, .inner-right a:visited, .inner-right a:active, .inner-right a:hover{
	/*margin-left: 40%;*/
	font-family: 'Inder';
	color: white;
	text-decoration: none;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.button{
	background-color: #607D8B;
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.top-bar{
	background-color: #37474F;
	position: fixed;
    top: 0;
	left: 0;
	width: 100%;
	height: 21px;
}

.navigation-container {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.space-evenly {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.nav {
  font-style: inherit;
  font-family: 'Gothic A1'; 
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  margin-top: 5px;
}

#panel {
	/* border: 2px solid blue; */
    overflow: auto;
}

.icon-container {
    float: left;
    width: 30.3%;
    text-align: center;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}